.comment {
  border-bottom: 3px solid lightblue;
  margin: 10px 0;
  width: 100%;
}

.comment > * {
  padding: 10px;
}
.comment-header {
  display: flex;
  border-bottom: 1px solid white;
  gap: 10px;
  align-items: center;
}

.comment-time {
  font-size: 0.75em;
  opacity: 0.5;
}

.comment-body {
  word-wrap: break-word;
}

.comment-btn {
  background: none;
  border: none;
  color: grey;
  padding: 5px;
  margin: 10px;
}

.comment-btn:hover {
  cursor: pointer;
  opacity: 0.75;
}
